@import url("https://fonts.googleapis.com/css?family=Montserrat|Nothing+You+Could+Do|Satisfy");
@import url(../css/font-awesome.min.css);
* {
  margin: 0 auto;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 20px;
  font-family: Montserrat,Arial,sans-serif;
  color: #565a5c; }

a, a:focus, a:hover {
  text-decoration: none !important; }

.no_padding {
  padding: 0; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd; }

.no_float {
  float: none !important; }

.inline-block {
  float: none;
  display: inline-block; }

.margin_60 {
  padding-top: 60px;
  padding-bottom: 60px; }

a.btn_1, .btn_1 {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background: #51bce6;
  cursor: pointer;
  padding: 7px 20px;
  display: inline-block;
  outline: none;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold; }

header {
  width: 100%;
  z-index: 99999;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0; }

#top_line {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: #ffffff;
  height: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 11px;
  visibility: visible;
  opacity: 1;
  margin-bottom: 5px;
  z-index: 999999;
  width: 100%; }
  #top_line .top_links, #top_line .top_contact {
    line-height: 2em; }
  #top_line .top_contact {
    position: relative; }
    #top_line .top_contact i:before {
      color: #ffffff;
      margin-left: -1em; }
    #top_line .top_contact p {
      font-size: 12px;
      display: inline-block;
      display: inline-block;
      padding-left: 10px; }
      #top_line .top_contact p:last-child {
        margin-left: 1em; }
  #top_line .top_links {
    text-align: right; }
    #top_line .top_links > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      #top_line .top_links > ul > li {
        display: inline-block;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0;
        padding: 0 15px 0 0; }
        #top_line .top_links > ul > li:first-child {
          border-left: none;
          padding-left: 0;
          margin-left: 0; }
        #top_line .top_links > ul > li > a {
          position: relative;
          display: inline-block;
          padding-left: 15px;
          transition: all .3s;
          color: #ffffff; }
          #top_line .top_links > ul > li > a i:before {
            color: #ffffff;
            margin-right: .5em; }

#logo_mapinew h1 {
  margin: 10px 0 0;
  padding: 0; }
  #logo_mapinew h1 a {
    width: 160px;
    height: 34px;
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 160px 34px;
    text-indent: -9999px;
    z-index: 10;
    margin: 0; }

#close_in, #header_menu, .cmn-toggle-switch {
  display: none; }

.main_menu ul, .main_menu ul li, .main_menu ul li a {
  position: relative;
  margin: 0;
  padding: 0; }

nav {
  margin-top: 20px; }

.main_menu {
  position: relative;
  z-index: 9;
  width: auto;
  text-align: right; }

.main_menu a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all 0.3s; }

.main_menu ul, .main_menu ul li, .main_menu ul li a {
  position: relative;
  margin: 0;
  padding: 0; }

.main_menu ul li a {
  display: block;
  line-height: 20px;
  padding: 10px; }
  .main_menu ul li a i:before {
    color: #ffffff;
    padding-left: .5em; }

.main_menu > ul > li > a {
  color: #fff;
  padding: 0 8px 15px;
  font-size: 13px; }

.sticky .main_menu > ul > li > a {
  color: #333; }

.main_menu > ul > li:hover > a {
  color: #e04f67; }

header.sticky {
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.41);
  padding-bottom: 0;
  background-color: #fff; }
  header.sticky #top_line {
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: all .2s ease-in-out; }
  header.sticky #logo_mapinew h1 {
    margin: 0 0 10px;
    padding: 0; }
    header.sticky #logo_mapinew h1 a {
      background-image: url(../img/logo_sticky.png); }
  header.sticky nav {
    margin-top: 10px; }
  header.sticky .main_menu > ul > li > a {
    color: #333; }

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  z-index: 100;
  min-height: 100%;
  background-color: #000;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0 ease .3s;
  -moz-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0 ease .3s;
  -ms-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0 ease .3s;
  -o-transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0 ease .3s;
  transition: transform .3s ease 0s, opacity .3s ease 0s, visibility 0 ease .3s;
  opacity: 0;
  visibility: hidden; }

.layer-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s ease 0s, transform .3s ease 0;
  -moz-transition: opacity .3s ease 0s, transform .3s ease 0;
  -ms-transition: opacity .3s ease 0s, transform .3s ease 0;
  -o-transition: opacity .3s ease 0s, transform .3s ease 0;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0; }

#close_in,
#header_menu,
.cmn-toggle-switch {
  display: none; }

a.dropdown-toggle.icon-search {
  display: inline-block; }

.main_wrapper {
  background-color: #f9f9f9;
  z-index: 2;
  position: relative;
  top: 0;
  width: 100%; }
  .main_wrapper .wrapper_banner {
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    position: relative;
    display: flex;
    height: 500px; }
    .main_wrapper .wrapper_banner::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4); }
    .main_wrapper .wrapper_banner img {
      width: 100%;
      min-height: 450px; }
    .main_wrapper .wrapper_banner .parallax_content {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 999;
      padding: 18px 0 20px;
      color: #fff;
      font-size: 13px;
      background: url(../img/shadow_single.png) bottom left repeat-x;
      width: 100%;
      text-align: left; }
      .main_wrapper .wrapper_banner .parallax_content div h1 {
        font-size: 36px;
        font-weight: 700;
        color: #ffffff;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 3px; }
      .main_wrapper .wrapper_banner .parallax_content .include_icon {
        font-size: 14px;
        margin-left: 1em; }
        .main_wrapper .wrapper_banner .parallax_content .include_icon i {
          padding-left: 1em; }
      .main_wrapper .wrapper_banner .parallax_content .price_single_main {
        display: block;
        text-align: right;
        padding-top: 25px; }
        .main_wrapper .wrapper_banner .parallax_content .price_single_main span:nth-child(2) {
          font-size: 5em;
          color: #3CF; }
          .main_wrapper .wrapper_banner .parallax_content .price_single_main span:nth-child(2) sup {
            font-size: 22px;
            position: relative;
            top: -25px; }
    .main_wrapper .wrapper_banner .texto {
      position: absolute;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      align-content: center;
      top: 275px;
      width: 100%;
      z-index: 5; }
      .main_wrapper .wrapper_banner .texto h2 {
        font-family: 'Nothing You Could Do', cursive;
        font-size: 6em; }
      .main_wrapper .wrapper_banner .texto p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4em; }

#most_wanted {
  background: #ffffff;
  padding: 2.5em 0 5em 0;
  font-family: "Montserrat",Arial,sans-serif; }
  #most_wanted .title {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 1.1em; }
  #most_wanted .list_wanted {
    padding-bottom: 1em;
    height: 240px; }
    #most_wanted .list_wanted a {
      margin-bottom: 0;
      font-size: 13px;
      font-weight: 300;
      text-decoration: none;
      margin-left: -2.2em; }
      #most_wanted .list_wanted a .fa-check:before {
        color: #e04f67;
        padding: 0 0.5em; }
    #most_wanted .list_wanted h4 {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 15px; }
    #most_wanted .list_wanted ul li {
      font-family: "Montserrat",Arial,sans-serif;
      list-style: none;
      margin-left: 2.2em; }

#travelSytle {
  background: #f9f9f9;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 3.5em; }
  #travelSytle .pin {
    position: relative;
    width: 56px;
    height: 80px;
    margin: 0 auto; }
    #travelSytle .pin img {
      position: absolute;
      top: -3.5em; }
  #travelSytle .styleTitle {
    text-align: center !important; }
    #travelSytle .styleTitle h3 {
      font-size: 4.5em;
      margin-top: 0;
      margin-bottom: 25px;
      font-weight: 600;
      color: #e04f67; }
    #travelSytle .styleTitle h4 {
      font-size: 2.5em;
      margin-bottom: 0;
      margin-top: .5em;
      border: 1px solid #e04f67;
      border-radius: 50px;
      width: 80%; }
    #travelSytle .styleTitle p {
      width: 90%;
      font-size: 2.6rem;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 25px;
      margin: auto; }
    #travelSytle .styleTitle p:last-child {
      font-size: 2rem; }
    #travelSytle .styleTitle span {
      font-size: 1.3em;
      color: #e04f67;
      border-radius: 60px; }
  #travelSytle .styleItems {
    padding: 2em 0; }
    #travelSytle .styleItems .item {
      /* .destination_fondo {
      	width: 100%;
      	background: rgba(0,0,0,0.2);
      	height: 100%;
      	position: absolute;
      	z-index: 40;
      } */ }
      #travelSytle .styleItems .item a {
        display: block;
        overflow: hidden; }
      #travelSytle .styleItems .item a:hover .destination_fondo {
        background: rgba(0, 0, 0, 0.7);
        transition-duration: .6s; }
      #travelSytle .styleItems .item a:hover .destination_title {
        color: black;
        border: none;
        background: rgba(255, 255, 255, 0.8);
        -webkit-transition-duration: 1s;
        transition-duration: 1s; }
    #travelSytle .styleItems .destination_title {
      font-size: 14px;
      z-index: 40;
      top: 50%;
      margin-top: -45px;
      position: absolute;
      color: white;
      width: 90px;
      height: 90px;
      border-radius: 45px;
      border: 1px solid;
      margin-right: -45px;
      right: 50%;
      text-align: center; }
      #travelSytle .styleItems .destination_title div {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  #travelSytle .styleItemsBox {
    text-align: center; }
    #travelSytle .styleItemsBox img {
      width: 150px;
      height: 150px;
      display: block; }

#adventure {
  padding: 2em 0;
  display: block; }
  #adventure .section__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
    padding: 3em 0;
    margin: auto; }
  #adventure .adv_main_contentbg {
    position: relative;
    z-index: 1; }
    #adventure .adv_main_contentbg img {
      background-repeat: no-repeat;
      height: 450px;
      background-size: contain;
      width: 100%; }
  #adventure .adv_taxo {
    margin-top: 0;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    padding: .35294118em .11764706em .35294118em .70588235em; }
  #adventure .adv_content {
    border-bottom: 1px solid #c7c7c7 !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    border-radius: 0;
    opacity: .85;
    background: #fff;
    height: 50px; }
    #adventure .adv_content .adv_textoo {
      position: relative;
      top: 0 !important;
      float: right;
      line-height: 1.16em; }
      #adventure .adv_content .adv_textoo h4 {
        background: red; }
    #adventure .adv_content .adv_price {
      position: relative;
      top: 0 !important;
      float: right;
      line-height: 1.16em; }
      #adventure .adv_content .adv_price p {
        text-align: center;
        margin-bottom: 0;
        padding-top: .9em; }
        #adventure .adv_content .adv_price p span {
          font-size: 1.8em;
          font-weight: bold;
          color: #000000; }

.atractic_list .btn_p {
  background: #e04f67;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #ffffff; }
.atractic_list .aside_cat_list {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 25px; }
  .atractic_list .aside_cat_list #cat_list_nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .atractic_list .aside_cat_list #cat_list_nav li {
      border-bottom: 1px solid #ddd; }
      .atractic_list .aside_cat_list #cat_list_nav li a {
        display: block;
        padding: 15px 10px;
        position: relative;
        color: #777; }
        .atractic_list .aside_cat_list #cat_list_nav li a #active, .atractic_list .aside_cat_list #cat_list_nav li a:hover, .atractic_list .aside_cat_list #cat_list_nav li a .active {
          background: #f9f9f9;
          color: #111; }
        .atractic_list .aside_cat_list #cat_list_nav li a:after {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f0da";
          position: absolute;
          right: 15px;
          top: 15px; }
.atractic_list .all_box_tour_list {
  margin-bottom: 30px;
  background-color: #fff;
  display: block;
  color: #777;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
  .atractic_list .all_box_tour_list .box_img_list {
    overflow: hidden;
    min-height: 220px;
    text-align: center;
    position: relative; }
    .atractic_list .all_box_tour_list .box_img_list img {
      width: auto;
      height: 220px;
      position: absolute;
      left: -10%; }
  .atractic_list .all_box_tour_list .box_content_list {
    padding: 10px 20px 0 0;
    border-right: 1px solid #ededed;
    height: 220px;
    line-height: 17px; }
    .atractic_list .all_box_tour_list .box_content_list h3 {
      font-size: 18px;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: #333;
      padding-top: 1em; }
    .atractic_list .all_box_tour_list .box_content_list p {
      font-size: 13px;
      height: 100px;
      overflow: hidden; }
    .atractic_list .all_box_tour_list .box_content_list .add_info_icon {
      list-style: none;
      padding: 0;
      margin: 0; }
      .atractic_list .all_box_tour_list .box_content_list .add_info_icon li {
        display: inline-block;
        margin-right: 5px;
        border: 1px solid #ededed;
        text-align: center;
        width: 35px;
        height: 35px;
        border-radius: 3px; }
        .atractic_list .all_box_tour_list .box_content_list .add_info_icon li i {
          display: inline-block;
          font-size: 23px;
          line-height: 1.5;
          position: relative; }
  .atractic_list .all_box_tour_list .box_price_list {
    font-family: "Montserrat", Arial, sans-serif;
    display: table;
    height: 220px;
    font-size: 38px;
    color: #e74c3c;
    width: 100%;
    margin-left: -15px; }
    .atractic_list .all_box_tour_list .box_price_list div {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .atractic_list .all_box_tour_list .box_price_list sup {
      font-size: 22px;
      position: relative;
      top: -10px; }
    .atractic_list .all_box_tour_list .box_price_list .normal_price_list {
      display: block;
      text-decoration: line-through;
      color: #999;
      font-size: 20px;
      margin-top: 10px; }
    .atractic_list .all_box_tour_list .box_price_list small {
      font-size: 11px;
      color: #999;
      display: block;
      margin-bottom: 10px;
      line-height: 12px; }
    .atractic_list .all_box_tour_list .box_price_list .btn_price {
      color: #ffffff;
      background: #51bce6;
      cursor: pointer;
      padding: 7px 20px;
      display: inline-block;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: bold;
      outline: none;
      font-size: 12px; }

.pagination {
  font-size: 12px; }
  .pagination .active > a {
    color: #fff;
    background-color: #555;
    border-color: #555; }
  .pagination li a {
    color: #888; }
    .pagination li a:focus, .pagination li a:hover {
      background: #727070;
      color: #fff; }

#blog .post {
  margin-bottom: 45px; }
  #blog .post img {
    margin-bottom: 18px;
    width: 785px;
    height: 320px; }
  #blog .post .post_info {
    padding: 10px 0;
    border-bottom: 1px #ccc dashed;
    border-top: 1px #ccc dashed;
    margin-bottom: 12px;
    color: #999; }
    #blog .post .post_info .post_left ul {
      margin-left: 0;
      padding-left: 0; }
      #blog .post .post_info .post_left ul li {
        margin-right: 10px;
        list-style: none;
        display: inline-block; }
        #blog .post .post_info .post_left ul li > i, #blog .post .post_info .post_left ul li time > i {
          padding-right: .5em; }
    #blog .post .post_info h2 {
      font-size: 22px; }
#blog aside .widget h4 {
  text-transform: uppercase;
  font-size: 16px; }
#blog aside .widget form.searchform {
  position: relative; }
  #blog aside .widget form.searchform input {
    width: 100%;
    padding: 9px; }
  #blog aside .widget form.searchform label.screen-reader-text {
    display: none; }
  #blog aside .widget form.searchform #searchsubmit {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    text-indent: -99px; }
#blog aside .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px; }
  #blog aside .widget ul li:last-child a {
    border-bottom: none;
    padding-bottom: 0; }
  #blog aside .widget ul li a {
    border-bottom: 1px solid #ededed;
    padding: 10px 0;
    display: block;
    color: #888; }

.position {
  background-color: #333;
  padding: 10px 0;
  font-size: 11px !important; }
  .position ul {
    margin: 0;
    padding: 0;
    color: #888; }
    .position ul li {
      display: inline-block;
      padding-right: 8px;
      margin-right: 3px;
      position: relative; }
      .position ul li:first-child {
        padding-left: 20px; }
        .position ul li:first-child:before {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f2ce";
          position: absolute;
          left: 0;
          color: #fff;
          font-size: 11px;
          bottom: 4.5px; }
      .position ul li:after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f105";
        position: absolute;
        right: 0;
        top: 4.5px; }
      .position ul li a {
        color: #ffffff;
        opacity: .7; }

.box_style {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 30px;
  position: relative;
  color: #666; }

#Content_tour .cont_img {
  width: 750px;
  height: 380px; }
  #Content_tour .cont_img img {
    width: 100%;
    height: 380px;
    border-radius: 2px 2px 0 0;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5; }
#Content_tour .main_content_ {
  margin-top: 2em;
  /* Fade in tabs */ }
  #Content_tour .main_content_ .tab-content {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 25px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; }
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#Content_tour .box_style .box_text_book {
  margin: -30px -30px 20px -30px;
  background-color: #565a5c;
  padding: 10px 20px 10px 18px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
#Content_tour .box_style label {
  font-size: 12px;
  margin-bottom: 3px; }
#Content_tour .box_style .form-group label i:before {
  padding-right: .5em; }
#Content_tour .box_style .form-control {
  font-size: 12px;
  color: #333;
  height: 40px;
  border-radius: 3px; }
#Content_tour .box_style .numbers-row {
  position: relative;
  width: 97px;
  height: 40px;
  overflow: visible; }
#Content_tour .box_style input.qty2 {
  position: relative;
  width: 35px;
  height: 40px;
  border-radius: none;
  text-align: center;
  left: 31px;
  font-size: 12px;
  padding: 5px; }
#Content_tour .box_style .inc {
  background: #fff url(../img/plus.png) no-repeat center center;
  right: 0;
  top: 0;
  border: 1px solid #cccccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
#Content_tour .box_style .dec {
  background: #fff url(../img/minus.png) no-repeat center center;
  border: 1px solid #cccccc;
  left: 0;
  top: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
#Content_tour .box_style .button_inc {
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  width: 33px;
  height: 40px;
  z-index: 9; }
#Content_tour .box_style .table {
  border-bottom: 1px solid #ddd; }
  #Content_tour .box_style .table.table_summary tr.total {
    color: #e04f67;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; }
#Content_tour .box_style .btn_booking {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  width: 100%;
  background: #85c99d;
  cursor: pointer;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 10px; }
#Content_tour .cachito {
  text-align: center; }
  #Content_tour .cachito i:before {
    font-size: 52px;
    margin-top: 10px;
    display: inline-block; }
  #Content_tour .cachito h4 span {
    color: #e04f67; }
  #Content_tour .cachito a.phone {
    font-size: 25px;
    display: block;
    margin-bottom: 10px; }
  #Content_tour .cachito:after, #Content_tour .cachito:before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 100%;
    left: 50%;
    margin-left: -10px; }
  #Content_tour .cachito:before {
    border-bottom: 10px solid #ccc;
    margin-bottom: 0; }
  #Content_tour .cachito:after {
    border-bottom: 10px solid #fff;
    margin-bottom: -1px;
    z-index: 1; }
  #Content_tour .cachito small {
    font-size: 80%; }
  #Content_tour .cachito .contac_rs {
    padding: 0;
    margin: 1.2em 0 0;
    border: 1px solid #ddd;
    line-height: 3;
    text-align: center; }
    #Content_tour .cachito .contac_rs i:before {
      font-size: 17px;
      border: none;
      margin-left: 0.2em; }
    #Content_tour .cachito .contac_rs a {
      height: 35px; }
      #Content_tour .cachito .contac_rs a span {
        margin-left: .4em; }
      #Content_tour .cachito .contac_rs a .mss_fb {
        background: url(../img/mss_fb.svg) no-repeat;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-bottom: -5px; }

#suscribete {
  background: #5C5F63;
  padding: 1.5em 0 0.5em; }
  #suscribete h2 {
    margin: 0;
    font-size: 1.7em;
    display: block;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 0px -2px 0px #222; }
  #suscribete span {
    line-height: 0;
    color: #fff;
    font-size: 1.4em;
    text-shadow: 0px -2px 0px #222; }
  #suscribete input[type="email"] {
    width: 60%;
    height: 40px;
    padding: 0px 10px;
    color: #666;
    border-radius: 2px;
    border: 1px solid #AFAFAF;
    box-shadow: none; }
    #suscribete input[type="email"]:hover {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f9cf75; }
    #suscribete input[type="email"]:active {
      box-shadow: 0 1px 1px #ddd; }
  #suscribete button {
    font-size: 1.06em;
    font-weight: 600;
    float: right;
    padding: 0px;
    text-transform: uppercase;
    height: 40px;
    width: 125px;
    margin: 0px 20px;
    color: #FFF;
    background: #888;
    border-radius: 2px;
    border: 0px none; }
    #suscribete button:hover {
      background: #666666; }
  #suscribete input[type="checkbox"] {
    line-height: 2.2; }
  #suscribete label {
    color: #C4C4C4;
    font-size: 1em;
    line-height: 2.2; }

#footer {
  background: url(../img/pattern.png) #333;
  padding: 30px 0 10px;
  font-family: "Montserrat", Arial, sans-serif; }
  #footer #social_footer {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 30px; }
    #footer #social_footer p {
      color: #8c8c8c;
      font-size: 12px; }
    #footer #social_footer ul {
      margin: 0; }
      #footer #social_footer ul li {
        display: inline-block;
        margin: 0 5px 10px; }
        #footer #social_footer ul li a {
          display: block;
          font-size: 16px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          border-radius: 50%;
          height: 35px;
          width: 35px;
          line-height: 35px;
          color: #ffffff; }
          #footer #social_footer ul li a .rs_text {
            display: none; }
          #footer #social_footer ul li a:link:before, #footer #social_footer ul li a:link:before, #footer #social_footer ul li a:link:before, #footer #social_footer ul li a:link:before, #footer #social_footer ul li a:link:before {
            color: #ffffff !important; }
        #footer #social_footer ul li a:hover {
          color: #000000;
          background: #ffffff;
          border: 1px border solid #ffffff; }
          #footer #social_footer ul li a:hover:link:before, #footer #social_footer ul li a:hover:link:before, #footer #social_footer ul li a:hover:link:before, #footer #social_footer ul li a:hover:link:before, #footer #social_footer ul li a:hover:link:before {
            color: #000000 !important; }
        #footer #social_footer ul li a[href*=".com"]::before {
          font: normal normal normal 14px/1 FontAwesome;
          color: #ffffff !important; }
        #footer #social_footer ul li a[href*="facebook.com"]::before {
          content: "\f09a"; }
        #footer #social_footer ul li a[href*="twitter.com"]::before {
          content: "\f099"; }
        #footer #social_footer ul li a[href*="pinterest.com"]::before {
          content: "\f0d2"; }
        #footer #social_footer ul li a[href*="instagram.com"]::before {
          content: "\f16d"; }
        #footer #social_footer ul li a[href*="plus.google.com"]::before {
          content: "\f0d5"; }
        #footer #social_footer ul li a[href*="youtube.com"]::before {
          content: "\f16a"; }

@media (min-width: 992px) and (max-width: 1200px) {
  .main_menu > ul > li > a {
    padding: 0 5px 15px; } }
@media only screen and (min-width: 992px) {
  .main_menu {
    width: auto; }

  .main_menu a {
    white-space: nowrap; }

  .main_menu ul li {
    display: inline-block; }

  .main_menu ul li.submenu:hover > a:before,
  .main_menu ul li.submenu:hover > a:after {
    bottom: -20px;
    opacity: 0; }

  .main_menu ul ul,
  .main_menu ul li .menu-wrapper {
    position: absolute;
    border-top: 2px solid #e04f67;
    z-index: 1;
    visibility: hidden;
    left: 3px;
    top: 100%;
    margin: 0;
    display: block;
    padding: 0;
    background: #fff;
    min-width: 210px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all 0.3s ease; }

  .main_menu ul li .menu-wrapper {
    padding: 10px 15px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  .main_menu ul li:hover > ul,
  .main_menu ul li:hover .menu-wrapper {
    padding: 0;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }

  .main_menu ul .menu-wrapper ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: none;
    margin: 0;
    position: static;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  .main_menu ul .menu-wrapper ul:before {
    border: 0; }

  .main_menu ul ul li {
    display: block;
    height: auto;
    padding: 0; }

  .main_menu ul ul li a {
    font-size: 12px;
    color: #666;
    border-bottom: 1px solid #ededed;
    display: block; }

  .main_menu ul ul li:last-child a {
    border-bottom: none; }

  .main_menu ul ul li:hover > a {
    background-color: #f9f9f9;
    color: #e04f67;
    padding-left: 15px; }

  .main_menu ul li.megamenu {
    position: static; }

  .main_menu ul li.megamenu .menu-wrapper {
    width: 1140px;
    float: left;
    left: auto;
    right: 0; }

  .main_menu ul li:hover.megamenu .menu-wrapper {
    visibility: visible;
    opacity: 1; }

  .main_menu ul li:hover.megamenu .menu-wrapper ul {
    visibility: visible;
    opacity: 1; }

  .main_menu ul .menu-wrapper h3 {
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px solid #ededed;
    padding-bottom: 10px;
    margin-bottom: 0; }

  .main_menu ul ul ul {
    position: absolute;
    border-top: 0;
    z-index: 1;
    height: auto;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background: #fff;
    min-width: 190px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

  .main_menu ul ul:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #e04f67;
    border-width: 7px;
    margin-left: -7px; }

  .main_menu ul ul ul:before {
    border-width: 0;
    margin-left: 0; } }
@media only screen and (max-width: 991px) {
  #header_menu {
    text-align: center;
    padding: 25px 15px 10px;
    position: relative;
    display: block; }

  .main_menu ul li a:hover, a.show-submenu:hover, a.show-submenu:focus, a.show-submenu-mega:hover, a.show-submenu-mega:focus {
    color: #e04f67 !important;
    background-color: #f9f9f9; }

  .main_menu {
    text-align: left; }

  .main_menu ul li {
    border-top: none;
    border-bottom: 1px solid #ededed;
    color: #fff; }

  .main_menu ul li a {
    padding: 10px 15px !important; }

  .main_menu h3 {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 0 0 15px 15px;
    color: #333;
    text-transform: uppercase; }

  .megamenu .menu-wrapper > div {
    padding: 0; }

  .main_menu li, .main_menu a {
    display: block !important;
    color: #333 !important; }

  .main_menu li {
    position: relative; }

  .main_menu a:hover {
    color: #e04f67 !important; }

  .main_menu ul > li {
    padding-bottom: 0; }

  .main_menu ul > li i {
    float: right; }

  .main_menu ul li.submenu ul {
    font-size: 12px;
    border-left: 1px solid #ededed;
    margin: 0 0 15px 25px; }

  .main_menu ul li.submenu ul li {
    font-size: 12px;
    border: 0; }

  .main_menu ul li.submenu ul ul {
    border-left: none;
    margin: 0 0 0 15px; }

  .main_menu {
    overflow: auto;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 999999;
    -webkit-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.55);
    box-shadow: 1px 0 5px 0 rgba(50, 50, 50, 0.55);
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); }

  .main_menu.show {
    transform: translateX(0); }

  .main_menu .show-submenu + ul, a.show-submenu-mega + .menu-wrapper {
    display: none;
    visibility: hidden; }

  a.show-submenu-mega + .menu-wrapper.show_mega, .main_menu a.show-submenu + ul.show_normal {
    display: block;
    visibility: visible; }

  .cmn-toggle-switch {
    position: relative;
    display: block;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 20px;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer; }

  .cmn-toggle-switch:focus {
    outline: none; }

  .cmn-toggle-switch span {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 2px;
    background: #fff; }

  .cmn-toggle-switch span::before, .cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: ""; }

  .sticky .cmn-toggle-switch span::before, .sticky .cmn-toggle-switch span::after, .sticky .cmn-toggle-switch span {
    background-color: #333; }

  header#plain .cmn-toggle-switch span::before, header#plain .cmn-toggle-switch span::after, header#plain .cmn-toggle-switch span, header#plain.sticky .cmn-toggle-switch span::before, header#plain.sticky .cmn-toggle-switch span::after {
    background-color: #333; }

  header#colored.sticky .cmn-toggle-switch span::before, header#colored.sticky .cmn-toggle-switch span::after, header#colored.sticky .cmn-toggle-switch span {
    background-color: #fff; }

  .cmn-toggle-switch span::before {
    top: -10px; }

  .cmn-toggle-switch span::after {
    bottom: -10px; }

  .cmn-toggle-switch__htx span::before, .cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.3s, .3s;
    transition-duration: 0.3s, .3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0; }

  .cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform; }

  .cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform; }

  .cmn-toggle-switch__htx.active span {
    background: none !important; }

  .cmn-toggle-switch__htx.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

  .cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  .cmn-toggle-switch__htx.active span::before, .cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0, .3s;
    transition-delay: 0, 0.3s; }

  i:before {
    margin-left: 0 !important;
    color: #e04f67 !important; } }
@media (max-width: 767px) {
  #top_line {
    display: none; } }
@media only screen and (max-width: 480px) {
  .main-menu {
    width: 100%; }

  a#close_in {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px; }

  #close_in i {
    color: #555 !important;
    font-size: 16px; } }

/*# sourceMappingURL=ema.css.map */
